body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('NewHome/static/f.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #49104B;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

.navbar .menu {
    display: flex;
    gap: 20px;
}

.navbar .menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    position: relative;
    transition: all 0.3s ease;
}

.navbar .menu a:hover {
    color: #ffdd00;
}

.navbar .menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color:000066;
    transition: width 0.3s ease;
}

.navbar .menu a:hover::after {
    width: 100%;
}

.navbar .cta {
    padding: 8px 20px;
    background-color: #ffdd00;
    color: #5F0210;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.navbar .cta:hover {
    background-color: #5F0058;
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

h1 {
    color: #333;
    margin-top: 0;

}

form {
    width: 100%;
    max-width: 600px;
    background-width:100%;

}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}

input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
.next-button {
    width: 100%;
    padding: 10px;
    background-color: #49104B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

input[type="submit"]:hover,
.next-button:hover {
    background-color: #49104B;
}
