{% extends 'base.html' %}

{% block title %}House Page{% endblock %}

{% block head %}
   <link rel="stylesheet" href="/static/house.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
       {% for house in houses %}
       <div class="col-md-4">
           <div class="card mb-4">
             <img src="{{ url_for('static', filename='images/f.jpeg') }}" class="card-img-top" alt="House Image">
             <div class="card-body">
               <h5 class="card-title">{{ house.bedrooms }} Bedrooms</h5>
               <p class="card-text">Square Footage: {{ house.square_footage }} sqft</p>
               <p class="card-text">Area: {{ house.area }}</p>
               <p class="card-text">Price: ${{ house.price }}</p>
               <p class="card-text">Bathrooms: {{ house.bathrooms }}</p>
               <p class="card-text">Year Built: {{ house.year_built }}</p>
               <p class="card-text">Garage Size: {{ house.garage_size }} cars</p>
               <p class="card-text">Neighbourhood Quality: {{ house.neighbourhood_quality }}</p>
               <a href="/house_chart" class="next-button">View House Data Chart</a>

             </div>
           </div>
       </div>
       {% else %}
       <p class="no-houses-message">No houses available.</p>
       {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
